<h2 class="text-center">ユーザー登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="text-center">
    <div class="row">
      <div class="col-6">
        <div class="field">
          <%= f.label :last_name, "姓(※)", {class: "mt-2 text-left col-12"} %>
          <%= f.text_field :last_name, {autofocus: true, autocomplete: "last_name", class: "col-12"} %>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <%= f.label :first_name, "名(※)", {class: "mt-2 text-left col-12"} %>
          <%= f.text_field :first_name, {autofocus: true, autocomplete: "first_name", class: "col-12"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="field">
          <%= f.label :email, "メールアドレス(※)", {class: "mt-2 text-left col-12"} %>
          <%= f.email_field :email, {autofocus: true, autocomplete: "email", class: "col-12"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="field">
          <%= f.label :password, "パスワード(※)", {class: "mt-2 text-left col-12"} %>
          <%= f.password_field :password, {autocomplete: "new-password", class: "col-12"} %>
          <% if @minimum_password_length %>
            <div class="text-left ml-3 mb-3">
              (<%= @minimum_password_length %> 文字以上)
            </div>
          <% end %>
        </div>
      </div>
    </div>    

    <div class="row">
      <div class="col-12">
        <div class="field">
          <%= f.label :password_confirmation, "パスワード確認(※)", {class: "mt-2 text-left col-12"} %><br />
          <%= f.password_field :password_confirmation, {autocomplete: "new-password", class: "mb-3 col-12"} %>
        </div>
      </div>
    </div>        

    <div class="field">
      <!-- 施設テーブルへ関連付けの為、追加 -->
      <%= f.hidden_field :facility_id, :value => 1 %>
    </div>
  </div>

  <div class="actions text-center">
    <%= f.submit "サインアップ", {class: "text-white rounded bg-primary"} %>
  </div>
<% end %>

<div class="text-center my-3">
  <%= render "devise/shared/links" %>
</div>
