<script type="text/javascript">
window.onload = function() {
  let path = location.pathname;
  let pattern = /^.*\/new.*$/;

  if(path.match(pattern)) return;

  history.replaceState('', '', `/new`)
}
</script>
<% if @room.errors.any? %>
   <p>保存できませんでした。(※)に空白があります。</p>
<% end %>
<h2>会議室の新規登録</h2>
<div class="col-6 border border-primary text-center">
  <%= form_with(model: @room, url: "/rooms/create", local: true) do |form| %>
    <div class="row">
      <div class="col-6">
        <%= form.label :name, '会議室名(※)', {class: "text-left col-10"}%>
        <%= form.text_field :name %>
      </div>
      <div class="col-6">
        <%= form.label :seating_capacity, '収容人数(※)', {class: "text-left col-10"} %>
        <%= form.text_field :seating_capacity %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= form.label :usage_fee, '利用金額(※)', {class: "text-left col-10"} %>
        <%= form.text_field :usage_fee %>
      </div>
      <div class="col-6">
        <%= form.label :accountable_time, '使用可能時間(※)', {class: "text-left col-10"} %>
        <%= form.text_field :accountable_time %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 note">
        <%= form.label :note, '備考', {class: "text-left col-11"} %></br>
        <%= form.text_area :note, {class: "col-11", rows: "5"} %>
      </div>
    </div>
    <div class="row">
      <div class="text-right col-11 p-0">
        <%= form.submit "登録", {class: "my-2 p-2 text-white rounded bg-primary"}%>
      </div>
    </div>
  <% end %>
</div>